@import "tailwindcss";
@theme{
    --color-primary:#2D1B2E;
    --color-secondary:#6B5466;
    --color-accent:#FFFFFF;
    
    --color-bg:#FFFBFC; 
    --color-bg-secondary:#F8EDF2;

    --color-fg:#E8A5C2;
    --color-fg-hover:#E8A5C280;
    --color-fg-secondary:#B08BBB;
    --color-fg-subtle:var(--color-bg);/*placeholders and descriptions*/
    --color-fg-muted:var(--color-bg-secondary); /*details*/
    
    --color-success-bg:#00C950;
    --color-failed-bg:#FB2C36;

    --gradient-button:linear-gradient(to right,var(--color-fg),var(--color-fg-secondary));
    --gradient-button-disabled: linear-gradient(to right,var(--color-fg-hover),var(--color-fg-secondary-hover));
    --gradient-card:linear-gradient(to bottom right,var(--color-fg),var(--color-fg-secondary),#D4AF37);

    --text-Inter:"Inter", sans-serif;
    --text-Cormorant:"Cormorant", serif;

    --breakpoint-xs: 29.375rem; 
}

@layer base{
    body{
        background-color: var(--color-bg);
        font-family: var(--text-Inter);
        color:var(--color-primary);
    }
    .container{
        @apply mx-auto px-4 md:px-0;
    }
    img{
        @apply w-full block;
    }
    a,button{
        @apply cursor-pointer capitalize inline-block;
    }
    h1{
        @apply font-[Cormorant] capitalize font-semibold;
        @apply text-[45px] sm:text-[55px] md:text-[65px] lg:text-[75px] xl:text-[85px];  
    }
    h2{
        @apply font-[Cormorant] capitalize font-semibold;
        @apply text-[20px] sm:text-[23px] md:text-[25px] lg:text-[27px] xl:text-[30px];

    }
    h3{
        @apply font-[Cormorant] capitalize text-left font-semibold;
        @apply text-[14px] sm:text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px];
    }
    p{
        @apply font-[Inter] text-secondary;
        @apply text-[13px] sm:text-[14px] md:text-[15px] lg:text-[16px];
    }
    section{
        @apply py-10 md:py-18;
    }
    span{
        @apply text-[13px] capitalize;
    }
    label{
        @apply text-[11px] sm:text-[11px] md:text-[12px];
    }
}
@layer utilities{
    .row-between{
        @apply flex justify-between items-center;
    }
    .row-start{
        @apply flex justify-start items-center;
    }
    .column{
        @apply flex flex-col items-start;
    }
    .column-center{
        @apply flex flex-col items-center text-center;
    }
    .center{
        @apply flex items-center justify-center;
    }
    .bg-cover-center{
        @apply bg-cover bg-center;
    }
    .grid-responsive-4{
        @apply grid grid-cols-1 xs:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-x-4 w-full;
    }
    .filter-group{
        @apply flex flex-wrap gap-2 md:gap-3;
    }
    .placeholder-full-des{
        @apply bg-bg text-[12px] text-gray-400 rounded-2xl p-2 outline-0 focus:border border-fg/50 w-full;
    }
    .placeholder-des{
        @apply text-gray-400 text-[14px] focus:outline-none w-full;
    }
}
@layer components{
    .link-hover{
        @apply hover:text-fg font-medium hover:scale-110 transition-all duration-300;
    }
    .icon-hover{
        @apply relative;
    }
    .icon-hover-bg-fg{
        @apply absolute top-[-25%] left-[-25%] w-7.5 h-7.5 rounded-full scale-0 transition duration-300 group-hover:scale-100 z-0;
        background-color: var(--color-fg);
    }
    .icon-hover-content{
        @apply relative z-1;
    }
    .button-primary{
        background: var(--gradient-button);
        @apply rounded-full py-3 transition hover:opacity-90;
        @apply text-[12px] sm:text-[13px] md:text-[14px];
    }
    .card-img{
        @apply relative rounded-xl h-65 overflow-hidden;
    }
    .card-img-clickable{
        @apply relative rounded-xl h-65 overflow-hidden cursor-pointer;
    }
    .card-img-hover{
        @apply absolute inset-0 transition duration-500 group-hover:scale-110;
    }
    .overlay{
        @apply absolute inset-0 bg-black/20;
    }
    .collection-card-content{
        @apply absolute left-3 bottom-3; 
    }
    .collection-card-desc{
        @apply text-accent text-[10px] sm:text-[11px] md:text-[12px];
    }
    .favarite-icon-absolute{
        @apply absolute top-3 right-3;
    }
    .cart-icon-absolute{
        @apply absolute bottom-3 right-3;
    }
    .icon-hover-bg-bg{
        @apply absolute top-[-25%] left-[-25%] w-7.5 h-7.5 rounded-full scale-0 transition duration-300 group-hover:scale-100 z-0;
        background-color: var(--color-bg);
    }
    .icon-bg-bg{
        @apply absolute top-[-25%] left-[-25%] w-7.5 h-7.5 rounded-full scale-100 z-0 transition duration-300 group-hover:scale-0;
        background-color: var(--color-bg);
    }
    .item-p{
        @apply uppercase text-[11px] sm:text-[11px] md:text-[12px];
    }
    .bg-bg-card{
        @apply bg-bg rounded-2xl p-3;
    }
    .user-avatar-bg{
        @apply w-10 h-10 rounded-full text-bg;
        background: var(--gradient-button);
    }
    .footer-link{
        @apply text-secondary ;
        @apply text-[11px] sm:text-[12px] md:text-[13px] lg:text-[14px];
    }
    .button-secondary{
        @apply bg-fg rounded-2xl transition hover:opacity-90;
        @apply text-[12px] sm:text-[13px] md:text-[14px];
    }
    .panel-bg-secondary{
        @apply bg-bg-secondary rounded-2xl border border-fg/25 p-5;
    }
    .panel-bg-bg{
        @apply bg-bg rounded-2xl border border-fg/25 p-2;
    }
    .badge{
        @apply absolute top-3 right-3 w-fit h-5.5 px-3 py-1 rounded-2xl z-0;
        background-color: var(--color-fg);
    }
    .pagination-bg{
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-7.5 h-7.5 rounded-full scale-0 transform transition duration-300 z-1;
        background: var(--gradient-button);
    }
    .panel-fg-bg{
        @apply bg-bg scale-100 rounded-full p-2;
    }
    .package-card{
        @apply relative border border-fg/50 rounded-2xl flex flex-col;
    }
}
