@import "tailwindcss";
@theme{
    --color-primary:#2D1B2E;
    --color-secondary:#6B5466;
    --color-accent:#FFFFFF;
    
    --color-bg:#FFFBFC; 
    --color-bg-secondary:#F8EDF2;

    --color-fg:#E8A5C2;
    --color-fg-hover:#E8A5C280;
    --color-fg-secondary:#B08BBB;
    --color-fg-secondary-hover:#B08BBB80;
    --color-fg-subtle:var(--color-bg);/*placeholders and descriptions*/
    --color-fg-muted:var(--color-bg-secondary); /*details*/
    
    --color-success-bg:#00C950;
    --color-failed-bg:#FB2C36;

    --gradient-button:linear-gradient(to right,var(--color-fg),var(--color-fg-secondary));
    --gradient-button-disabled: linear-gradient(to right,var(--color-fg-hover),var(--color-fg-secondary-hover));
    --gradient-card:linear-gradient(to bottom right,var(--color-fg),var(--color-fg-secondary),#D4AF37);

    --text-Inter:"Inter", sans-serif;
    --text-Cormorant:"Cormorant", serif;

}

@layer base{
    body{
        background-color: var(--color-bg);
        font-family: var(--text-Inter);
        color:var(--color-primary);
    }
    .container{
        @apply mx-auto px-4 md:px-0;
    }
    img{
        @apply w-full block;
    }
    a,button{
        @apply cursor-pointer;
    }
    h1{
        @apply font-[Cormorant] text-center font-semibold;
        @apply text-[45px] sm:text-[55px] md:text-[65px] lg:text-[75px] xl:text-[85px];  
    }
    p{
        @apply font-[Inter] text-center;
        @apply text-[13px] sm:text-[14px] md:text-[15px] lg:text-[16px] max-sm:px-5;
    }
}
@layer utilities{
    .row{
        @apply flex justify-between items-center gap-8;
    }
    .column{
        @apply flex flex-col items-center justify-between;
    }
    .center{
        @apply flex items-center justify-center;
    }
    .hero-bg{
        @apply bg-[url('./../img/products/hero/white-candle.webp')] bg-cover bg-center;
    }
}
@layer components{
    .link-hover{
        @apply hover:text-fg font-medium hover:scale-110 transition-all duration-300;
    }
    .icon-hover{
        @apply relative;
    }
    .icon-hover-bg{
        @apply absolute top-[-25%] left-[-25%] w-[30px] h-[30px] rounded-full scale-0 transition duration-300 group-hover:scale-100 z-0;
        background-color: var(--color-fg-hover);
    }
    .icon-hover-content{
        @apply relative z-1;
    }
    .button{
        background: var(--gradient-button);
        @apply rounded-full py-3 transition hover:opacity-90;
        @apply px-7.5 md:px-12.5 lg:px-20 xl:px-25 text-[13px] sm:text-[14px] md:text-[15px] lg:text-[16px];
    }
   
}
